<div class="container my-4 text-center border border-2">
    <h3>Property Binding</h3>
    <div class="m-3">
        <div class="form-check form-switch d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" id="Deshabilitar">
            <label for="Deshabilitar">Dehabilitar botones del componente Class Binding</label>
        </div>
        <div class="mt-3 h5">
            <p>¡Aún está en proceso la conexion entre componentes!<br>
                por eso el boton checkbox no sirve
            </p>
        </div>
    </div>
</div>