<div class="border-bottom border-2">
    <div class="d-flex bd-highlight container">
        <div class="p-2 bd-highlight d-flex">
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/LEGO_logo.svg" alt="logo" width="40rem">
                <span class="mx-2">PAGETEST</span>
            </div>
            <div class="dropdown">
                <button class="btn p-0 py-1 border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Children</a></li>
                  <li><a class="dropdown-item" href="#">Class binding</a></li>
                  <li><a class="dropdown-item" href="#">Form builder</a></li>
                  <li><a class="dropdown-item" href="#">Formulario reactivo</a></li>
                  <li><a class="dropdown-item" href="#">Interpolacion</a></li>
                  <li><a class="dropdown-item" href="#">Login form</a></li>
                  <li><a class="dropdown-item" href="#">Property binding</a></li>
                  <li><a class="dropdown-item" href="#">Validacion</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex ms-auto p-2 bd-highlight">
            <input class="form-control" type="text" placeholder="Escribe texto aquí..">
            <button class="btn btn-primary mx-1">Buscar</button>
        </div>
    </div>
</div>