<div class="container border border-2 p-3">
   <div>
    Esta es mi cadena traida con Input: {{ title }}
   </div>
   <div>
      Mi nombre es {{ nombre }}
   </div>
   <h3 class="text-center">Se viene lo mejor "Servicios"</h3>
   <div class="text-center">
      {{ messagesService.messages.length }}
   </div>
   <form (ngSubmit)="addMessage()">
      <div>
         <label class="form-label" name="mensaje">Mensaje</label>
         <input class="form-control" name="mensaje" type="text" placeholder="Escribe aquí tu mensaje" [(ngModel)]="message">
      </div>
      <div>
         <button class="mt-3 btn btn-primary">Enviar</button>
      </div>
   </form>  
</div>
