<!-- <div class="container border border-2 p-3 ">
    <h3>Login</h3>
    <form class="form-outline mt-4" action="">
        <div class="col mb-3 wd">
            <label class="form-label" for="inUser">User</label>
            <input class="form-control" type="text" name="inUser" id="inUser">
        </div>
        <div class="col mb-3 wd">
            <label class="form-label" for="inPass">Password</label>
            <input class="form-control" type="text" name="inPass" id="inPass">
        </div>       
    </form>
</div> -->
<div class="container border border-2 p-3 my-4 text-center">
    <div class="h3">LoginForm - Bootstrap</div>
    <div class="p-3 d-flex justify-content-center align-items-center">
        <div class="p-5 rounded-5 border border-2 text-secondary">
            <div class="d-flex justify-content-center border border-2 rounded-5">
                <img style="width: 7rem;" src="https://img.freepik.com/vector-premium/resumen-degradado-ilustracion-pajaro-colorido_343694-1740.jpg" alt="logo">
            </div> 
            <div class="fs-1 mb-4 fw-bold text-center">Login</div>
            <div>
                <div class="input-group">
                    <div class="input-group-text bg-info">
                        <img style="width: 1.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="">
                    </div>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                </div>
                
            </div>
            <div class="input-group mt-2">
                <div class="input-group-text bg-info">
                    <img class="" style="width: 1.5rem" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="">
                </div>
                <input class="form-control" type="password" name="userPass" id="userPass" placeholder="Password">
            </div>
            <div class="d-flex mt-2 justify-content-around gap-1">
                <div class="d-flex align-items-center gap-1">
                    <input class="mr-1 form-check-input" type="checkbox" name="remenberMe" id="remenberMe">
                    <div style="font-size: 0.95rem;">Remenber me</div>
                </div>
                <div>
                    <a class="text-decoration-none text-info fw-semibold fst-italic" style="font-size: 0.95rem;" href="#">Forgot your password?</a>
                </div>
            </div>
            <div class="">
                <button class="btn btn-info mt-3 text-white form-control">Login</button>
            </div>
            <div class="d-flex justify-content-center mt-1 gap-1">
                <div class="fst-italic">Don't have an account?</div>
                <a class="text-decoration-none text-info fw-semibold" style="font-size: 0.96rem;" href="#">Register</a>
            </div>
        </div>
    </div>
    
</div>
<!-- <div class="mt-4 container border border-2 p-3 d-flex justify-content-center">
    <div class="p-5 border border-2 rounded-5 text-secondary">
        <div class="border border-2 rounded-5 d-flex justify-content-center px-4">
            <img style="width: 7rem;" src="https://img.freepik.com/vector-premium/resumen-degradado-ilustracion-pajaro-colorido_343694-1740.jpg" alt="logo">
        </div>
        <div class="text-center h1 fw-bold mt-1 mb-3">
            Login
        </div>
        <div class="mt-4">
            <div class="input-group">
                <div class="input-group-text bg-danger">
                    <img style="width: 1.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="">
                </div>
                <input class="form-control" type="text" name="" id="" placeholder="Username">
            </div>
        </div>
        <div class="mt-2">
            <div class="input-group">
                <div class="input-group-text bg-danger">
                    <img style="width: 1.5rem;" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="">
                </div>
                <input class="form-control" type="password" name="" id="" placeholder="Password">
            </div>
        </div>
        <div class="d-flex justify-content-around gap-2 mt-2">
            <div class="d-flex gap-1">
                <input class="form-check-input" type="checkbox">
                <div style="font-size: 0.95rem">Remenber me</div>
            </div>
            <a class="text-decoration-none fw-semibold fst-italic text-danger" href="#">Forgot your password?</a>
        </div>
        <div class="">
            <button class="btn btn-danger form-control mt-3">Login</button>
        </div>
        <div class="d-flex justify-content-center gap-1 mt-1">
            <div class="fst-italic">Don't have an account?</div>
            <a class="text-decoration-none text-danger fw-semibold" style="font-size: 0.96rem;" href="#">Register</a>
        </div>
    </div>
</div> -->